{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if not listings %}
        <p>No active listings.</p>
    {% endif %}
    <ul>
        {% for listing in listings %}
            <li>
                <hr>
                <a href="{% url 'listing' listing_id=listing.id %}">{{ listing.title }}</a>
                by <a href="{% url 'user' user_id=listing.user.id  %}">{{ listing.user.username}}</a>, posted on {{ listing.posted_datetime}}
                <p>Current price: ${{ listing.current_price }}</p>
                {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" width="600" alt="{{ listing.title }}">
                {% endif %}
                <p>{{ listing.description }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
