{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ seller.username }}</h2>
    <p>Account created on {{ seller.date_joined }}</p>
    <p>Last login on {{ seller.last_login }}</p>
    <hr>
    <ul>
        {% if listings %}
            {% for listing in listings %}
                <li>
                    <a href="{% url 'listing' listing_id=listing.id %}">{{ listing.title }}</a>, posted on {{ listing.posted_datetime}}
                    <br>
                    {% if listing.image_url %}
                        <img src="{{ listing.image_url }}" width="600" alt="{{ listing.title }}">
                    {% endif %}
                </li>
            {% endfor %}
        {% else %}
            <p>No open listings.</p>
        {% endif %}

    </ul>
{% endblock %}
